.sign-up-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://tailwindui.com/img/ecommerce-images/home-page-03-feature-section-full-width.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
